_Nombre completo:_ **José Gael Leyva Alvarado.**  

_Materia:_ **Introducción a Ciencia de Datos.**  

_Nombre del profesor:_ **Jaime Alejandro Romero Sierra.**  

_Fecha de entrega:_ **20-10-2025**  

_Repositorio de GitHub:_ **https://github.com/ACAT12G/Proyecto-CienciadeDatos1?tab=readme-ov-file#proyecto-cienciadedatos1**

# **Contexto de la base de datos:**  

Esta base de datos proviene de la plataforma de Kaggle, y es una simulación que representa diferentes interacciones que usuarios hipoteticos hayan tenido con un "_chat bot_", con diferentes resultados, a manera de obtener varias posibles situaciones listas para analisis.  

Un "_chat bot_", es en español, un bot de chat, una inteligencia artificial especializada en hablar con los usuarios, da respuestas dependiendo en lo que el usuario quiera, y tiene el objetivo principal de asistir y/o automatizar ciertos tipos de trabajos de escritura.  

En este caso especifico usa como usuarios a estudiantes, y por ende, los temas son desde estudio, hasta resumenes.  

Los datos que se tienen de esta base de datos son:  

* ID de la sesión: El identificador de cada sesión que cuenta los estudiantes que tuvieron una sesión con el "_chat bot_".  

* Nivel del estudiante: Preparatoria, Universidad y Graduado, determina el nivel del estudiante al momento de usar el "_chat bot_".  

* Disciplina: Todas las materias en la que la conversación se formo: ingenieria, biologia, ciencias de la computación, matematicas, historia, negocios y psicologia.  

* Fecha de la sesión: La fecha en la que la conversación se llevo acabo.  

* Mensajes totales: El total de mensajes que tuvo el usuario y la Inteligencia Artificial; la extensión de la conversación.  

* Tipo de Tarea: Escritura, estudiar, codificar, asistencia con la tarea, lluvia de ideas e investigación; todas las actividades que los estudiantes llevaron acabo con el "_chat bot_".  

* Nivel de Asistencia de la Inteligencia Artificial: En un rango de 1-5, determina si la IA fue de ayuda y asisistio de manera idonea.  

* Resultado Final: Nos dice si la tarea fue realizada como se debe, si fue aplazada, si el estudiante termino con dudas/confundid@, o si el estudiante se rindio.  

* ¿Se uso de nuevo?: Determina si el estudiante volvio a usar el "_chat bot_", o no.  

* Indice de Satisfaccióm: Calificación final que el estudiante otorgo a su experiencia con el "_chat bot_".

# **Limpieza de base de datos:**

**Exploracion:**

La exploración se basa en ver que problemas tenemos, que buscamos solucionar y en general, el parnorama general de a que nos enfrentamos.

In [37]:
import pandas as pd

df = pd.read_csv("df_sucio.csv")

df.isnull().sum()

SessionID             540
StudentLevel          540
Discipline            540
SessionDate           540
SessionLengthMin      540
TotalPrompts          540
TaskType              540
AI_AssistanceLevel    540
FinalOutcome          540
UsedAgain             540
SatisfactionRating    540
dtype: int64

Nos muestra todos los valores NaN, o nulos que tiene cada fila.

In [38]:
df["SessionID"].unique()

array(['SESSION00001', 'SESSION00002', nan, ..., 'SESSION00102',
       'SESSION08149', 'SESSION02496'], shape=(9366,), dtype=object)

Nuestra base de datos en estado inicial, se pueden ver los NaN desde aqui.

In [39]:
df

,SessionID,StudentLevel,Discipline,SessionDate,SessionLengthMin,TotalPrompts,TaskType,AI_AssistanceLevel,FinalOutcome,UsedAgain,SatisfactionRating
0,SESSION00001,Undergraduate,Computer Science,2024-11-03,31.20,11,Studying,2.0,Assignment Completed,True,1.0
1,SESSION00002,Undergraduate,NaN,2024-08-25,13.09,6,Studying,3.0,Assignment Completed,True,2.0
2,NaN,Undergraduate,Business,2025-01-12,19.22,5,Coding,3.0,Assignment Completed,True,3.3
3,SESSION00004,Undergraduate,Computer Science,2025-05-06,3.70,1,Coding,3.0,NaN,True,3.5
4,SESSION00005,Undergraduate,Psychology,2025-03-18,28.12,9,Writing,3.0,Assignment Completed,True,2.9
...,...,...,...,...,...,...,...,...,...,...,...
10803,SESSION03028,Graduate,Math,2025-03-04,20.52,NaN,Coding,4.0,Assignment Completed,NaN,4.9
10804,SESSION01621,High School,Computer Science,2024-12-12,40.27,9,Research,4.0,Gave Up,False,4.9
10805,SESSION07276,High School,History,2025-05-02,41.14,9,Writing,4.0,NaN,False,3.8
10806,SESSION06220,Graduate,Business,2024-11-15,NaN,12,Research,3.0,Assignment Completed,True,1.0
10807,SESSION01851,Undergraduate,Biology,2025-01-29,28.86,NaN,Coding,5.0,Confused,True,4.9

In [40]:
df.shape

(10808, 11)

In [41]:
df.describe()

       SessionLengthMin  AI_AssistanceLevel  SatisfactionRating
count      10268.000000        10268.000000        10268.000000
mean          19.792964            3.484223            3.421241
std           13.848326            0.987229            1.143129
min            0.030000            1.000000            1.000000
25%            9.620000            3.000000            2.600000
50%           16.625000            4.000000            3.500000
75%           26.630000            4.000000            4.400000
max          110.810000            5.000000            5.000000

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10808 entries, 0 to 10807
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SessionID           10268 non-null  object
 1   StudentLevel        10268 non-null  object
 2   Discipline          10268 non-null  object
 3   SessionDate         10268 non-null  object
 4   SessionLengthMin    10268 non-null  float64
 5   TotalPrompts        10268 non-null  object
 6   TaskType            10268 non-null  object
 7   AI_AssistanceLevel  10268 non-null  float64
 8   FinalOutcome        10268 non-null  object
 9   UsedAgain           10268 non-null  object
 10  SatisfactionRating  10268 non-null  float64
dtypes: float64(3), object(8)
memory usage: 928.9+ KB

Nos muestra los tipos de datos de cada columna.

In [43]:
df.columns

Index(['SessionID', 'StudentLevel', 'Discipline', 'SessionDate',
       'SessionLengthMin', 'TotalPrompts', 'TaskType', 'AI_AssistanceLevel',
       'FinalOutcome', 'UsedAgain', 'SatisfactionRating'],
      dtype='object')

Y todas las columnas en lista.

In [44]:
df.isnull()

,SessionID,StudentLevel,Discipline,SessionDate,SessionLengthMin,TotalPrompts,TaskType,AI_AssistanceLevel,FinalOutcome,UsedAgain,SatisfactionRating
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
10803,False,False,False,False,False,True,False,False,False,True,False
10804,False,False,False,False,False,False,False,False,False,False,False
10805,False,False,False,False,False,False,False,False,True,False,False
10806,False,False,False,False,True,False,False,False,False,False,False
10807,False,False,False,False,False,True,False,False,False,False,False

In [45]:
df.shape

(10808, 11)

In [46]:
df2=df

In [47]:
print(df2[['SessionID', 'StudentLevel']].value_counts())

SessionID     StudentLevel
bbb           Undergraduate    124
              High School       42
              Graduate          35
SESSION00028  High School        3
SESSION03232  Undergraduate      3
                              ...
SESSION00033  High School        1
SESSION00031  High School        1
SESSION00030  Undergraduate      1
SESSION00029  Undergraduate      1
SESSION00027  Undergraduate      1
Name: count, Length: 8942, dtype: int64

In [48]:
df2.duplicated().sum()

np.int64(199)

In [49]:
df2.shape

(10808, 11)

# **Traducción:**

El primer paso es traducir todo a español, para evitar futuros conflictos, mas acerca de que tipo de problemas en el final de este documento.

In [50]:

dic_renombrar = {
    'SessionID': 'ID_Sesion',
    'StudentLevel': 'NivelEstudiante',
    'Discipline': 'Disciplina',
    'SessionDate': 'FechaSesion',
    'SessionLengthMin': 'DuracionMinutos',
    'TotalPrompts': 'TotalIndicaciones',
    'TaskType': 'TipoTarea',
    'AI_AssistanceLevel': 'NivelAsistenciaIA',
    'FinalOutcome': 'ResultadoFinal',
    'UsedAgain': 'UsadoNuevamente',
    'SatisfactionRating': 'CalificacionSatisfaccion'
}

traduccion_nivel = {
    'Undergraduate': 'Universitario',
    'High School': 'Preparatoria',
    'Graduate': 'Graduado'
}

traduccion_disciplina = {
    'Engineering': 'Ingeniería',
    'Computer Science': 'Ciencias de la Computación',
    'History': 'Historia',
    'Biology': 'Biología',
    'Math': 'Matemáticas',
    'Business': 'Negocios',
    'Psychology': 'Psicología'
}

traduccion_tarea = {
    'Writing': 'Redacción',
    'Studying': 'Estudio',
    'Coding': 'Programación',
    'Homework Help': 'Ayuda con Tareas',
    'Brainstorming': 'Lluvia de Ideas',
    'Research': 'Investigación'
}

traduccion_resultado = {
    'Assignment Completed': 'Tarea Completada',
    'Idea Drafted': 'Idea Rezagada',
    'Confused': 'Confundido',
    'Gave Up': 'Se rindió'
}

df2.rename(columns=dic_renombrar, inplace=True)

traducciones_completas = {
    'NivelEstudiante': traduccion_nivel,
    'Disciplina': traduccion_disciplina,
    'TipoTarea': traduccion_tarea,
    'ResultadoFinal': traduccion_resultado
}

df2.replace(traducciones_completas, inplace=True)

# **Depuracion de NaN:**

Utilizando fillna, se usa un codigo para distruiir todos los NaN rellnados con valores aleatorios dentro del rango de datos que tenemos, a manera de no favorecer ningun tipo de dato.

In [51]:
df2["ID_Sesion"].unique()

array(['SESSION00001', 'SESSION00002', nan, ..., 'SESSION00102',
       'SESSION08149', 'SESSION02496'], shape=(9366,), dtype=object)

In [52]:
df2['ID_Sesion'] = df2['ID_Sesion'].fillna("SESSION00000")
df2.isnull().sum()

ID_Sesion                     0
NivelEstudiante             540
Disciplina                  540
FechaSesion                 540
DuracionMinutos             540
TotalIndicaciones           540
TipoTarea                   540
NivelAsistenciaIA           540
ResultadoFinal              540
UsadoNuevamente             540
CalificacionSatisfaccion    540
dtype: int64

In [53]:
df["ID_Sesion"].unique()

array(['SESSION00001', 'SESSION00002', 'SESSION00000', ...,
       'SESSION00102', 'SESSION08149', 'SESSION02496'],
      shape=(9366,), dtype=object)

In [54]:
df2.shape

(10808, 11)

In [55]:
df2["NivelEstudiante"].value_counts()

NivelEstudiante
Universitario    6130
Preparatoria     2089
Graduado         2049
Name: count, dtype: int64

In [56]:
import numpy as np

valores_validos = df['NivelEstudiante'].dropna()

indices_nan = df2.loc[df2['NivelEstudiante'].isnull()].index

valores_aleatorios = np.random.choice(valores_validos, size=len(indices_nan))

df2.loc[indices_nan, 'NivelEstudiante'] = valores_aleatorios

df2.isnull().sum()

ID_Sesion                     0
NivelEstudiante               0
Disciplina                  540
FechaSesion                 540
DuracionMinutos             540
TotalIndicaciones           540
TipoTarea                   540
NivelAsistenciaIA           540
ResultadoFinal              540
UsadoNuevamente             540
CalificacionSatisfaccion    540
dtype: int64

In [57]:
df2.shape

(10808, 11)

In [58]:
df2["NivelEstudiante"].value_counts()

NivelEstudiante
Universitario    6454
Preparatoria     2200
Graduado         2154
Name: count, dtype: int64

In [59]:
df2["Disciplina"].value_counts()

Disciplina
Ingeniería                    1469
Biología                      1456
Ciencias de la Computación    1447
Matemáticas                   1436
Historia                      1434
Negocios                      1413
Psicología                    1410
bbb                            203
Name: count, dtype: int64

In [60]:
df2.columns

Index(['ID_Sesion', 'NivelEstudiante', 'Disciplina', 'FechaSesion',
       'DuracionMinutos', 'TotalIndicaciones', 'TipoTarea',
       'NivelAsistenciaIA', 'ResultadoFinal', 'UsadoNuevamente',
       'CalificacionSatisfaccion'],
      dtype='object')

In [61]:
valores_validos = df['Disciplina'].dropna()


indices_nan = df2.loc[df2['Disciplina'].isnull()].index

valores_aleatorios = np.random.choice(valores_validos, size=len(indices_nan))

df2.loc[indices_nan, 'Disciplina'] = valores_aleatorios

df2.isnull().sum()

ID_Sesion                     0
NivelEstudiante               0
Disciplina                    0
FechaSesion                 540
DuracionMinutos             540
TotalIndicaciones           540
TipoTarea                   540
NivelAsistenciaIA           540
ResultadoFinal              540
UsadoNuevamente             540
CalificacionSatisfaccion    540
dtype: int64

In [62]:
df2["FechaSesion"].value_counts()

FechaSesion
2025-04-03    43
2025-06-21    42
2025-01-17    42
2025-01-19    42
2025-02-01    41
              ..
2025-01-14    16
2025-01-04    15
2025-03-03    15
2024-12-28    15
2024-09-24    14
Name: count, Length: 366, dtype: int64

In [63]:
valores_validos = df['FechaSesion'].dropna()

indices_nan = df2.loc[df2['FechaSesion'].isnull()].index

valores_aleatorios = np.random.choice(valores_validos, size=len(indices_nan))

df2.loc[indices_nan, 'FechaSesion'] = valores_aleatorios

In [64]:
df2.isnull().sum()

ID_Sesion                     0
NivelEstudiante               0
Disciplina                    0
FechaSesion                   0
DuracionMinutos             540
TotalIndicaciones           540
TipoTarea                   540
NivelAsistenciaIA           540
ResultadoFinal              540
UsadoNuevamente             540
CalificacionSatisfaccion    540
dtype: int64

In [65]:
df2["DuracionMinutos"].value_counts()

DuracionMinutos
13.40    13
8.12     12
10.57    12
16.03    12
7.61     11
         ..
49.93     1
10.86     1
33.78     1
18.49     1
10.85     1
Name: count, Length: 4006, dtype: int64

In [66]:
valores_validos = df['DuracionMinutos'].dropna()

indices_nan = df2.loc[df2['DuracionMinutos'].isnull()].index

valores_aleatorios = np.random.choice(valores_validos, size=len(indices_nan))

df2.loc[indices_nan, 'DuracionMinutos'] = valores_aleatorios

df2.isnull().sum()

ID_Sesion                     0
NivelEstudiante               0
Disciplina                    0
FechaSesion                   0
DuracionMinutos               0
TotalIndicaciones           540
TipoTarea                   540
NivelAsistenciaIA           540
ResultadoFinal              540
UsadoNuevamente             540
CalificacionSatisfaccion    540
dtype: int64

In [67]:
valores_validos = df['TotalIndicaciones'].dropna()

indices_nan = df2.loc[df2['TotalIndicaciones'].isnull()].index

valores_aleatorios = np.random.choice(valores_validos, size=len(indices_nan))

df2.loc[indices_nan, 'TotalIndicaciones'] = valores_aleatorios

df2.isnull().sum()

ID_Sesion                     0
NivelEstudiante               0
Disciplina                    0
FechaSesion                   0
DuracionMinutos               0
TotalIndicaciones             0
TipoTarea                   540
NivelAsistenciaIA           540
ResultadoFinal              540
UsadoNuevamente             540
CalificacionSatisfaccion    540
dtype: int64

In [68]:
valores_validos = df['TipoTarea'].dropna()

indices_nan = df2.loc[df2['TipoTarea'].isnull()].index

valores_aleatorios = np.random.choice(valores_validos, size=len(indices_nan))

df2.loc[indices_nan, 'TipoTarea'] = valores_aleatorios

df2.isnull().sum()

ID_Sesion                     0
NivelEstudiante               0
Disciplina                    0
FechaSesion                   0
DuracionMinutos               0
TotalIndicaciones             0
TipoTarea                     0
NivelAsistenciaIA           540
ResultadoFinal              540
UsadoNuevamente             540
CalificacionSatisfaccion    540
dtype: int64

In [69]:
valores_validos = df['NivelAsistenciaIA'].dropna()

indices_nan = df2.loc[df2['NivelAsistenciaIA'].isnull()].index

valores_aleatorios = np.random.choice(valores_validos, size=len(indices_nan))

df2.loc[indices_nan, 'NivelAsistenciaIA'] = valores_aleatorios

df2.isnull().sum()

ID_Sesion                     0
NivelEstudiante               0
Disciplina                    0
FechaSesion                   0
DuracionMinutos               0
TotalIndicaciones             0
TipoTarea                     0
NivelAsistenciaIA             0
ResultadoFinal              540
UsadoNuevamente             540
CalificacionSatisfaccion    540
dtype: int64

In [70]:
valores_validos = df['ResultadoFinal'].dropna()

indices_nan = df2.loc[df2['ResultadoFinal'].isnull()].index

valores_aleatorios = np.random.choice(valores_validos, size=len(indices_nan))

df2.loc[indices_nan, 'ResultadoFinal'] = valores_aleatorios

df2.isnull().sum()

ID_Sesion                     0
NivelEstudiante               0
Disciplina                    0
FechaSesion                   0
DuracionMinutos               0
TotalIndicaciones             0
TipoTarea                     0
NivelAsistenciaIA             0
ResultadoFinal                0
UsadoNuevamente             540
CalificacionSatisfaccion    540
dtype: int64

In [71]:
df["ResultadoFinal"].value_counts()

ResultadoFinal
Tarea Completada    5166
Idea Rezagada       3068
Confundido          1748
Se rindió            826
Name: count, dtype: int64

In [72]:
valores_validos = df['UsadoNuevamente'].dropna()

indices_nan = df2.loc[df2['UsadoNuevamente'].isnull()].index

valores_aleatorios = np.random.choice(valores_validos, size=len(indices_nan))

df2.loc[indices_nan, 'UsadoNuevamente'] = valores_aleatorios

df2.isnull().sum()

ID_Sesion                     0
NivelEstudiante               0
Disciplina                    0
FechaSesion                   0
DuracionMinutos               0
TotalIndicaciones             0
TipoTarea                     0
NivelAsistenciaIA             0
ResultadoFinal                0
UsadoNuevamente               0
CalificacionSatisfaccion    540
dtype: int64

In [73]:
df2["UsadoNuevamente"].value_counts()

UsadoNuevamente
True     7457
False    3131
bbb       220
Name: count, dtype: int64

In [74]:
valores_validos = df['CalificacionSatisfaccion'].dropna()

indices_nan = df2.loc[df2['CalificacionSatisfaccion'].isnull()].index

valores_aleatorios = np.random.choice(valores_validos, size=len(indices_nan))

df2.loc[indices_nan, 'CalificacionSatisfaccion'] = valores_aleatorios

df2.isnull().sum()

ID_Sesion                   0
NivelEstudiante             0
Disciplina                  0
FechaSesion                 0
DuracionMinutos             0
TotalIndicaciones           0
TipoTarea                   0
NivelAsistenciaIA           0
ResultadoFinal              0
UsadoNuevamente             0
CalificacionSatisfaccion    0
dtype: int64

In [75]:
df2.shape

(10808, 11)

# **Depuracion de duplicados:**

In [76]:
df2=df2.drop_duplicates(subset=['ID_Sesion'])
df2

,ID_Sesion,NivelEstudiante,Disciplina,FechaSesion,DuracionMinutos,TotalIndicaciones,TipoTarea,NivelAsistenciaIA,ResultadoFinal,UsadoNuevamente,CalificacionSatisfaccion
0,SESSION00001,Universitario,Ciencias de la Computación,2024-11-03,31.20,11,Estudio,2.0,Tarea Completada,True,1.0
1,SESSION00002,Universitario,Matemáticas,2024-08-25,13.09,6,Estudio,3.0,Tarea Completada,True,2.0
2,SESSION00000,Universitario,Negocios,2025-01-12,19.22,5,Programación,3.0,Tarea Completada,True,3.3
3,SESSION00004,Universitario,Ciencias de la Computación,2025-05-06,3.70,1,Programación,3.0,Tarea Completada,True,3.5
4,SESSION00005,Universitario,Psicología,2025-03-18,28.12,9,Redacción,3.0,Tarea Completada,True,2.9
...,...,...,...,...,...,...,...,...,...,...,...
10729,SESSION07940,Universitario,Psicología,2025-02-09,56.13,24,Investigación,2.0,Confundido,False,1.8
10741,SESSION04427,Preparatoria,Ingeniería,2024-08-28,16.97,3,Estudio,4.0,Se rindió,bbb,2.6
10758,SESSION00102,Universitario,Ingeniería,2025-01-18,16.16,4,Estudio,4.0,Tarea Completada,True,1.9
10770,SESSION08149,Graduado,Ingeniería,2024-12-22,20.55,5,Redacción,4.0,Tarea Completada,True,5.0
10786,SESSION02496,Universitario,Matemáticas,2025-05-14,5.85,1,Lluvia de Ideas,5.0,Idea Rezagada,True,5.0

In [77]:
df2.shape

(9366, 11)

In [78]:
df2["UsadoNuevamente"].value_counts()

UsadoNuevamente
True     6470
False    2699
bbb       197
Name: count, dtype: int64

In [79]:
df2.duplicated().sum()

np.int64(0)

In [80]:
df2

,ID_Sesion,NivelEstudiante,Disciplina,FechaSesion,DuracionMinutos,TotalIndicaciones,TipoTarea,NivelAsistenciaIA,ResultadoFinal,UsadoNuevamente,CalificacionSatisfaccion
0,SESSION00001,Universitario,Ciencias de la Computación,2024-11-03,31.20,11,Estudio,2.0,Tarea Completada,True,1.0
1,SESSION00002,Universitario,Matemáticas,2024-08-25,13.09,6,Estudio,3.0,Tarea Completada,True,2.0
2,SESSION00000,Universitario,Negocios,2025-01-12,19.22,5,Programación,3.0,Tarea Completada,True,3.3
3,SESSION00004,Universitario,Ciencias de la Computación,2025-05-06,3.70,1,Programación,3.0,Tarea Completada,True,3.5
4,SESSION00005,Universitario,Psicología,2025-03-18,28.12,9,Redacción,3.0,Tarea Completada,True,2.9
...,...,...,...,...,...,...,...,...,...,...,...
10729,SESSION07940,Universitario,Psicología,2025-02-09,56.13,24,Investigación,2.0,Confundido,False,1.8
10741,SESSION04427,Preparatoria,Ingeniería,2024-08-28,16.97,3,Estudio,4.0,Se rindió,bbb,2.6
10758,SESSION00102,Universitario,Ingeniería,2025-01-18,16.16,4,Estudio,4.0,Tarea Completada,True,1.9
10770,SESSION08149,Graduado,Ingeniería,2024-12-22,20.55,5,Redacción,4.0,Tarea Completada,True,5.0
10786,SESSION02496,Universitario,Matemáticas,2025-05-14,5.85,1,Lluvia de Ideas,5.0,Idea Rezagada,True,5.0

# **Buscar y eliminar si lo hay, texto especifico:**

El "bbb" es nuestro texto expecifico, hay que eliminarlo. Pero primero, hay que buscarlo.

In [81]:
df2['ID_Sesion'].unique()

array(['SESSION00001', 'SESSION00002', 'SESSION00000', ...,
       'SESSION00102', 'SESSION08149', 'SESSION02496'],
      shape=(9366,), dtype=object)

In [82]:
df2['NivelEstudiante'].unique()

array(['Universitario', 'Graduado', 'Preparatoria'], dtype=object)

In [83]:
df2['Disciplina'].unique()

array(['Ciencias de la Computación', 'Matemáticas', 'Negocios',
       'Psicología', 'Biología', 'Historia', 'Ingeniería', 'bbb'],
      dtype=object)

In [84]:
df2['FechaSesion'].unique()

array(['2024-11-03', '2024-08-25', '2025-01-12', '2025-05-06',
       '2025-03-18', '2025-01-17', '2024-09-07', '2025-06-18',
       '2025-04-14', '2025-02-24', '2024-11-07', '2024-07-05',
       '2024-12-17', '2024-11-22', '2025-04-27', '2024-12-08',
       '2024-08-03', '2025-05-03', '2025-01-09', '2025-04-21',
       '2025-05-05', '2024-11-27', '2024-09-14', '2024-08-28',
       '2024-09-05', '2025-02-20', '2025-05-07', '2024-12-28',
       '2025-02-06', '2025-04-10', '2025-03-21', '2024-07-19',
       '2025-04-09', '2024-09-20', '2025-05-14', '2025-03-06',
       '2025-06-21', '2025-06-13', '2025-02-08', '2025-01-26',
       '2025-03-13', '2024-12-18', '2024-11-21', '2024-10-27',
       '2025-02-28', '2024-11-14', '2024-09-09', '2025-06-08',
       '2024-07-10', '2024-07-08', '2024-12-16', '2024-06-25',
       '2025-01-31', '2025-03-09', '2024-06-30', '2024-11-15',
       '2025-03-02', '2024-11-02', '2024-12-02', '2025-04-11',
       '2024-10-24', '2025-05-24', '2024-12-20', '2024-07-27',
       '2024-08-15', '2024-07-31', '2025-02-09', '2025-01-28',
       '2025-04-17', '2024-08-08', '2024-12-24', '2025-01-01',
       '2025-01-24', '2025-04-01', '2025-04-15', '2024-08-09',
       '2025-02-21', '2025-05-04', '2024-07-06', '2025-04-25',
       '2025-02-26', '2024-09-27', '2024-10-23', '2025-01-18',
       '2025-05-09', '2024-12-06', '2024-07-09', '2025-05-23',
       '2024-08-04', '2024-08-02', '2025-06-23', '2024-10-18',
       '2024-08-16', '2024-10-02', '2024-11-18', '2024-08-22',
       '2024-10-11', '2025-05-20', '2024-12-01', '2025-01-16',
       '2024-11-12', '2024-07-23', '2024-10-21', '2025-04-06',
       '2024-11-29', '2024-07-02', '2024-07-04', '2024-10-12',
       '2024-10-29', '2024-09-03', '2025-03-27', '2024-07-30',
       '2025-06-20', '2025-01-13', '2025-02-13', '2025-02-11',
       '2024-08-01', '2024-11-11', '2024-08-07', '2024-12-26',
       '2025-04-18', '2024-10-31', '2024-10-25', '2025-06-04',
       '2024-08-11', '2024-09-02', '2025-02-02', '2025-02-05',
       '2025-04-30', '2024-07-24', '2024-09-21', '2024-07-13',
       '2024-10-09', '2024-10-22', '2025-05-16', '2025-01-23',
       '2025-01-20', '2025-06-22', '2025-05-27', '2025-03-19',
       '2025-03-05', '2024-10-17', '2025-06-10', '2025-06-06',
       '2025-04-12', '2025-06-15', '2025-05-30', '2024-12-04',
       '2025-04-07', '2024-07-14', '2024-07-20', '2025-01-06',
       '2025-02-07', '2025-06-05', '2024-12-23', '2024-11-28',
       '2024-10-04', '2024-08-24', '2025-01-27', '2024-09-28',
       '2024-07-25', '2024-10-14', '2025-01-30', '2025-03-23',
       '2025-05-26', '2025-02-23', '2024-09-16', '2025-04-03',
       '2025-03-26', '2024-08-12', '2025-05-25', '2025-03-16',
       '2025-01-07', '2024-09-24', '2024-06-26', '2025-03-15',
       '2025-05-29', '2024-10-08', '2025-04-28', '2024-09-04',
       '2025-01-22', '2024-07-17', '2024-12-07', '2025-02-17',
       '2024-09-06', '2025-05-10', '2025-01-14', '2024-10-15',
       '2024-11-04', '2024-11-30', '2025-06-12', '2025-02-03',
       '2024-10-13', '2024-10-06', '2025-02-18', '2025-05-22',
       '2025-03-25', '2024-10-01', '2025-02-14', '2025-01-03',
       '2024-06-24', '2024-09-30', '2025-02-27', '2025-02-04',
       '2025-03-11', '2024-08-14', '2024-09-29', '2024-07-12',
       '2024-11-24', '2025-03-04', '2024-09-13', '2025-03-29',
       '2024-08-06', '2025-05-12', '2024-06-29', '2024-09-12',
       '2024-12-14', '2024-08-19', '2024-08-10', '2024-10-03',
       '2025-03-07', '2025-01-11', '2024-12-13', '2025-03-08',
       '2024-09-10', '2025-02-25', '2024-11-08', '2024-09-26',
       '2024-12-31', '2024-12-30', '2024-12-10', '2024-12-09',
       '2024-12-21', '2025-04-23', '2025-05-13', '2024-12-19',
       '2024-09-11', '2024-08-05', '2025-06-01', '2024-08-17',
       '2025-06-17', '2024-10-10', '2025-04-16', '2025-01-15',
       '2024-11-06', '2024-10-19', '2024-09-19', '2024-12-15',
       '2024-12-27', '2024-09-17', '2024-12-11', '2024-09-25',
       '2024-09-23', '2025-03-01', '2024-12-29', '2024-11-20',
       '2024-10-05', '2025-03-31', '2024-10-07', '2025-01-10',
       '2025-01-25', '2024-07-01', '2024-07-18', '2025-06-02',
       '2025-03-10', '2025-02-22', '2024-08-20', '2025-04-04',
       '2024-10-20', '2025-03-30', '2024-12-05', '2025-05-02',
       '2025-02-12', '2025-01-29', '2024-11-09', '2024-09-08',
       '2024-10-28', '2024-07-11', '2024-11-01', '2024-12-22',
       '2024-07-22', '2024-12-12', '2024-09-15', '2024-06-28',
       '2025-02-16', '2024-12-25', '2024-08-27', '2025-04-02',
       '2025-05-17', '2025-04-29', '2025-06-03', '2024-10-30',
       '2024-07-28', '2025-01-05', '2024-08-26', '2025-02-01',
       '2024-09-22', '2024-09-01', '2025-05-11', '2024-10-16',
       '2025-02-19', '2025-02-10', '2024-11-13', '2025-04-13',
       '2025-03-17', '2024-08-29', '2024-11-16', '2024-07-07',
       '2024-08-31', '2024-07-26', '2025-03-22', '2025-03-28',
       '2025-04-19', '2025-04-20', '2025-06-19', '2024-07-29',
       '2025-03-03', '2025-01-19', '2025-06-11', '2025-05-15',
       '2025-05-01', '2024-07-21', '2024-10-26', '2025-05-19',
       '2025-04-22', '2024-07-03', '2025-04-08', '2025-04-24',
       '2024-07-16', '2024-08-21', '2025-03-12', '2025-06-14',
       '2025-01-21', '2025-04-26', '2025-05-08', '2024-11-17',
       '2024-11-05', '2025-01-08', '2025-05-31', '2024-11-26',
       '2024-08-23', '2025-03-14', '2024-08-13', '2025-05-18',
       '2025-01-04', '2025-02-15', '2025-05-21', '2024-09-18',
       '2025-01-02', '2024-06-27', '2025-05-28', '2024-11-25',
       '2025-06-24', '2024-12-03', '2024-07-15', '2025-06-07',
       '2024-08-18', '2025-03-20', '2024-08-30', '2025-06-09',
       '2024-11-10', '2024-11-19', '2025-04-05', '2024-11-23',
       '2025-03-24', '2025-06-16'], dtype=object)

In [85]:
df2['DuracionMinutos'].unique()

array([31.2 , 13.09, 19.22, ..., 49.62, 11.62, 56.13], shape=(3893,))

In [86]:
df2['TotalIndicaciones'].unique()

array(['11', '6', '5', '1', '9', '3', '8', '2', '4', '7', '10', '15',
       '12', 'bbb', '19', '14', '20', '13', '16', '25', '17', '31', '21',
       '18', '28', '23', '24', '22', '29', '26', '38', '33', '34', '39',
       '30', '27'], dtype=object)

In [87]:
df2['TipoTarea'].unique()

array(['Estudio', 'Programación', 'Redacción', 'Lluvia de Ideas',
       'Ayuda con Tareas', 'bbb', 'Investigación'], dtype=object)

In [88]:
df2['ResultadoFinal'].unique()

array(['Tarea Completada', 'Idea Rezagada', 'Confundido', 'Se rindió'],
      dtype=object)

In [89]:
df2['UsadoNuevamente'].unique()

array(['True', 'False', 'bbb'], dtype=object)

In [90]:
df2['CalificacionSatisfaccion'].unique()

array([1. , 2. , 3.3, 3.5, 2.9, 5. , 1.9, 1.4, 3.9, 2.5, 3.7, 3.8, 4.9,
       4.4, 3.1, 3.6, 4.3, 3.2, 4. , 3.4, 2.4, 2.6, 1.2, 1.6, 2.2, 1.7,
       4.6, 4.8, 2.3, 4.2, 2.8, 4.5, 2.7, 1.8, 1.5, 4.1, 4.7, 2.1, 1.3,
       3. , 1.1])

In [91]:
df2['NivelAsistenciaIA'].unique()

array([2., 3., 5., 4., 1.])

In [92]:
df.columns

Index(['ID_Sesion', 'NivelEstudiante', 'Disciplina', 'FechaSesion',
       'DuracionMinutos', 'TotalIndicaciones', 'TipoTarea',
       'NivelAsistenciaIA', 'ResultadoFinal', 'UsadoNuevamente',
       'CalificacionSatisfaccion'],
      dtype='object')

# **Detectando valores especificos:**

Una vez encontramos aquellos que tienen el texto especifico, buscamos cuanto de este texto hay.

In [93]:
df2[df2['Disciplina'] == 'bbb'].shape[0]

187

In [94]:
df2[df2['UsadoNuevamente'] == 'bbb'].shape[0]

197

In [95]:
df2[df2['TipoTarea'] == 'bbb'].shape[0]

189

In [96]:
df2[df2['TotalIndicaciones'] == 'bbb'].shape[0]

193

**Eliminando valores especificos:**

In [97]:
df2=df2[df2['Disciplina'] != 'bbb']

In [98]:
df2=df2[df2['UsadoNuevamente'] != 'bbb']

In [99]:
df2["UsadoNuevamente"].value_counts()

UsadoNuevamente
True     6328
False    2658
Name: count, dtype: int64

In [100]:
df2=df2[df2['TipoTarea'] != 'bbb']

In [101]:
df2=df2[df2['TotalIndicaciones'] != 'bbb']

**Comprobación:**

In [102]:
df2[df2['Disciplina'] == 'bbb'].shape[0]

0

In [103]:
df2[df2['UsadoNuevamente'] == 'bbb'].shape[0]

0

In [104]:
df2[df2['TipoTarea'] == 'bbb'].shape[0]

0

In [105]:
df2[df2['TotalIndicaciones'] == 'bbb'].shape[0]

0

In [106]:
df2.shape

(8622, 11)

In [107]:
df2

,ID_Sesion,NivelEstudiante,Disciplina,FechaSesion,DuracionMinutos,TotalIndicaciones,TipoTarea,NivelAsistenciaIA,ResultadoFinal,UsadoNuevamente,CalificacionSatisfaccion
0,SESSION00001,Universitario,Ciencias de la Computación,2024-11-03,31.20,11,Estudio,2.0,Tarea Completada,True,1.0
1,SESSION00002,Universitario,Matemáticas,2024-08-25,13.09,6,Estudio,3.0,Tarea Completada,True,2.0
2,SESSION00000,Universitario,Negocios,2025-01-12,19.22,5,Programación,3.0,Tarea Completada,True,3.3
3,SESSION00004,Universitario,Ciencias de la Computación,2025-05-06,3.70,1,Programación,3.0,Tarea Completada,True,3.5
4,SESSION00005,Universitario,Psicología,2025-03-18,28.12,9,Redacción,3.0,Tarea Completada,True,2.9
...,...,...,...,...,...,...,...,...,...,...,...
10719,SESSION09607,Graduado,Matemáticas,2025-05-09,11.62,3,Redacción,5.0,Idea Rezagada,True,3.3
10729,SESSION07940,Universitario,Psicología,2025-02-09,56.13,24,Investigación,2.0,Confundido,False,1.8
10758,SESSION00102,Universitario,Ingeniería,2025-01-18,16.16,4,Estudio,4.0,Tarea Completada,True,1.9
10770,SESSION08149,Graduado,Ingeniería,2024-12-22,20.55,5,Redacción,4.0,Tarea Completada,True,5.0
10786,SESSION02496,Universitario,Matemáticas,2025-05-14,5.85,1,Lluvia de Ideas,5.0,Idea Rezagada,True,5.0

In [108]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8622 entries, 0 to 10786
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID_Sesion                 8622 non-null   object
 1   NivelEstudiante           8622 non-null   object
 2   Disciplina                8622 non-null   object
 3   FechaSesion               8622 non-null   object
 4   DuracionMinutos           8622 non-null   float64
 5   TotalIndicaciones         8622 non-null   object
 6   TipoTarea                 8622 non-null   object
 7   NivelAsistenciaIA         8622 non-null   float64
 8   ResultadoFinal            8622 non-null   object
 9   UsadoNuevamente           8622 non-null   object
 10  CalificacionSatisfaccion  8622 non-null   float64
dtypes: float64(3), object(8)
memory usage: 808.3+ KB

# **Cambio del tipo de variables:**
Algunas columnas no son del tipo que deben ser, hay que cambiar eso,

In [109]:
df2['TotalIndicaciones']=df2['TotalIndicaciones'].astype(float)

In [110]:
df2['TotalIndicaciones']=df2['TotalIndicaciones'].astype(int)

In [111]:
df2['NivelAsistenciaIA']=df2['NivelAsistenciaIA'].astype(int)

In [112]:
s = {'True': True, 'False': False}

# Aplicamos el mapa
df2['UsadoNuevamente'] = df2['UsadoNuevamente'].map(s)

In [113]:
df2["UsadoNuevamente"].value_counts()

UsadoNuevamente
True     6064
False    2558
Name: count, dtype: int64

In [114]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8622 entries, 0 to 10786
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID_Sesion                 8622 non-null   object
 1   NivelEstudiante           8622 non-null   object
 2   Disciplina                8622 non-null   object
 3   FechaSesion               8622 non-null   object
 4   DuracionMinutos           8622 non-null   float64
 5   TotalIndicaciones         8622 non-null   int64
 6   TipoTarea                 8622 non-null   object
 7   NivelAsistenciaIA         8622 non-null   int64
 8   ResultadoFinal            8622 non-null   object
 9   UsadoNuevamente           8622 non-null   bool
 10  CalificacionSatisfaccion  8622 non-null   float64
dtypes: bool(1), float64(2), int64(2), object(6)
memory usage: 749.4+ KB

In [115]:
df2.shape

(8622, 11)

In [116]:
df2.isnull().sum()

ID_Sesion                   0
NivelEstudiante             0
Disciplina                  0
FechaSesion                 0
DuracionMinutos             0
TotalIndicaciones           0
TipoTarea                   0
NivelAsistenciaIA           0
ResultadoFinal              0
UsadoNuevamente             0
CalificacionSatisfaccion    0
dtype: int64

In [117]:
df2.head()

,ID_Sesion,NivelEstudiante,Disciplina,FechaSesion,DuracionMinutos,TotalIndicaciones,TipoTarea,NivelAsistenciaIA,ResultadoFinal,UsadoNuevamente,CalificacionSatisfaccion
0,SESSION00001,Universitario,Ciencias de la Computación,2024-11-03,31.20,11,Estudio,2,Tarea Completada,True,1.0
1,SESSION00002,Universitario,Matemáticas,2024-08-25,13.09,6,Estudio,3,Tarea Completada,True,2.0
2,SESSION00000,Universitario,Negocios,2025-01-12,19.22,5,Programación,3,Tarea Completada,True,3.3
3,SESSION00004,Universitario,Ciencias de la Computación,2025-05-06,3.70,1,Programación,3,Tarea Completada,True,3.5
4,SESSION00005,Universitario,Psicología,2025-03-18,28.12,9,Redacción,3,Tarea Completada,True,2.9

In [118]:
df2.tail()

,ID_Sesion,NivelEstudiante,Disciplina,FechaSesion,DuracionMinutos,TotalIndicaciones,TipoTarea,NivelAsistenciaIA,ResultadoFinal,UsadoNuevamente,CalificacionSatisfaccion
10719,SESSION09607,Graduado,Matemáticas,2025-05-09,11.62,3,Redacción,5,Idea Rezagada,True,3.3
10729,SESSION07940,Universitario,Psicología,2025-02-09,56.13,24,Investigación,2,Confundido,False,1.8
10758,SESSION00102,Universitario,Ingeniería,2025-01-18,16.16,4,Estudio,4,Tarea Completada,True,1.9
10770,SESSION08149,Graduado,Ingeniería,2024-12-22,20.55,5,Redacción,4,Tarea Completada,True,5.0
10786,SESSION02496,Universitario,Matemáticas,2025-05-14,5.85,1,Lluvia de Ideas,5,Idea Rezagada,True,5.0

# **Resultado Final:**

In [119]:
df2

,ID_Sesion,NivelEstudiante,Disciplina,FechaSesion,DuracionMinutos,TotalIndicaciones,TipoTarea,NivelAsistenciaIA,ResultadoFinal,UsadoNuevamente,CalificacionSatisfaccion
0,SESSION00001,Universitario,Ciencias de la Computación,2024-11-03,31.20,11,Estudio,2,Tarea Completada,True,1.0
1,SESSION00002,Universitario,Matemáticas,2024-08-25,13.09,6,Estudio,3,Tarea Completada,True,2.0
2,SESSION00000,Universitario,Negocios,2025-01-12,19.22,5,Programación,3,Tarea Completada,True,3.3
3,SESSION00004,Universitario,Ciencias de la Computación,2025-05-06,3.70,1,Programación,3,Tarea Completada,True,3.5
4,SESSION00005,Universitario,Psicología,2025-03-18,28.12,9,Redacción,3,Tarea Completada,True,2.9
...,...,...,...,...,...,...,...,...,...,...,...
10719,SESSION09607,Graduado,Matemáticas,2025-05-09,11.62,3,Redacción,5,Idea Rezagada,True,3.3
10729,SESSION07940,Universitario,Psicología,2025-02-09,56.13,24,Investigación,2,Confundido,False,1.8
10758,SESSION00102,Universitario,Ingeniería,2025-01-18,16.16,4,Estudio,4,Tarea Completada,True,1.9
10770,SESSION08149,Graduado,Ingeniería,2024-12-22,20.55,5,Redacción,4,Tarea Completada,True,5.0
10786,SESSION02496,Universitario,Matemáticas,2025-05-14,5.85,1,Lluvia de Ideas,5,Idea Rezagada,True,5.0

In [120]:
df2.isnull().sum()

ID_Sesion                   0
NivelEstudiante             0
Disciplina                  0
FechaSesion                 0
DuracionMinutos             0
TotalIndicaciones           0
TipoTarea                   0
NivelAsistenciaIA           0
ResultadoFinal              0
UsadoNuevamente             0
CalificacionSatisfaccion    0
dtype: int64

In [121]:
df2.shape

(8622, 11)

In [122]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8622 entries, 0 to 10786
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID_Sesion                 8622 non-null   object
 1   NivelEstudiante           8622 non-null   object
 2   Disciplina                8622 non-null   object
 3   FechaSesion               8622 non-null   object
 4   DuracionMinutos           8622 non-null   float64
 5   TotalIndicaciones         8622 non-null   int64
 6   TipoTarea                 8622 non-null   object
 7   NivelAsistenciaIA         8622 non-null   int64
 8   ResultadoFinal            8622 non-null   object
 9   UsadoNuevamente           8622 non-null   bool
 10  CalificacionSatisfaccion  8622 non-null   float64
dtypes: bool(1), float64(2), int64(2), object(6)
memory usage: 749.4+ KB

In [123]:
df2.duplicated().sum()

np.int64(0)

Se envian los datos a un CSV limpio, listos para ser usados para otros propositos.

In [128]:
df2.to_csv("df_limpioV4.csv", index=False)

In [125]:
df2["UsadoNuevamente"].value_counts()

UsadoNuevamente
True     6064
False    2558
Name: count, dtype: int64

In [126]:
df2["UsadoNuevamente"].value_counts()

UsadoNuevamente
True     6064
False    2558
Name: count, dtype: int64

In [127]:
df2["ResultadoFinal"].value_counts()

ResultadoFinal
Tarea Completada    4151
Idea Rezagada       2424
Confundido          1381
Se rindió            666
Name: count, dtype: int64